.body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.App {
  height: 100vh;
}
.maxHeight {
  max-height: calc(100vh - 100px);
  overflow-x: hidden;
  overflow-y: hidden;
}
/* Table container */
.table-container * {
  padding:0;
  margin:0;
}
.table-container .row {
  display: flex;
  justify-content: space-between;
}
.border {
  border-bottom: 1px solid gray;
}
.column-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.column-container ul li {
  list-style: none;
  margin-right: 1rem;
}
.pad-t-20 {
  padding-top: 20px;
}
.pad-b-20 {
  padding-bottom: 20px;
}
.pad-l-20 {
  padding-left: 20px;
}
.pad-r-20 {
  padding-right: 20px;
}

